.awesome {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: @main-width;
  min-height: 727px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: @light-grey;
  box-sizing: border-box;
}

.awesome__first-p {
  .Exo-medium;
  font-size: 16px;
  letter-spacing: 0.2em;
  color: @red;
  width: 160px;
  text-align: center;
  margin-bottom: 5px;
}

.awesome__h2 {
  .Exo-medium;
  font-size: 40px;
  line-height: 50px;  
  letter-spacing: 0.04em;
  text-align: center;
  width: 560px;
  margin-bottom: 35px;
  span {
    color: @red;
  }
}

.awesome__other-p {
  .Exo-regular;
  font-size: 16px;
  line-height: 26px;  
  letter-spacing: 0.04em;
  text-align: center;
  width: 500px;
  margin-bottom: 35px;
}