.footer {
  width: @main-width;
  min-height: 333px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.footer__first-block {

}

.footer__first-block--h4 {

}

.footer__first-block--p {

}



.footer__support {

}

.footer__support--next {

} 



.footer__about {

}

.footer__about--h4 {

}

.footer__about--next {

}



.footer__email {

}

.footer__email--h4 {

}

.footer__email--form {


  input {

  }
  button {

  }
}

.footer__social {

}

.footer__ball {

}

.footer__facebook {

}

.footer__google {

}

.footer__twitter {
  
}