.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: @main-width;
  min-height: 813px;
  background-image: url("../image/header-background.jpg");
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  padding-top: 220px;
}

.header__h1 {
  display: block;
  .Exo-thin;  
  font-size: 60px;
  line-height: 75px;
  letter-spacing: 0.04em;
  text-align: center;
  width: 750px;
  margin-bottom: 40px;
}

.header__a {
  display: block;
  width: 59px;
  height: 59px;
  margin-bottom: 36px;
  background-image: url("../image/header-play.svg")
}

.header__button {
  width: 195px;
  min-height: 50px;
  background-color: @red;
  .Exo-regular;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.2em;
  color: @white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 16px;
}

.header_note {
  .Exo-italic;

  
  font-size: 14px;
  letter-spacing: 0.04em;
  text-align: center;
}